body {
  background-color: #1e7248;
  color:lavender;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}


h1 {
  font-family:'Lobster', cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
}

p{
  font-size: 2rem;
}

a{
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 5%;
}

.container {
  width: 70%;
  margin: auto;
}

.container img {
  width: 80%;
  margin-bottom: 40px;
}


.dados {
  display:inline-block;
  margin-right: 20px;
}